<h2>Gift Entry</h2>
<div>
    <form [formGroup]="myForm" (ngSubmit)="openCheckout()">
        <div class="form-group">
            <label for="donAmount">Donation Amount</label>
            <input
                    type="number"
                    id="donAmount"
                    class="form-control"
                    placeholder="e.g. 11.12 = £11.12"
                    formControlName="donAmount">
        </div>

        <button
                type="submit"
                class="btn btn-success"
                >I'm ready to donate</button>

    </form>
</div>
