<nav class="navbar bg-primary navbar-dark navbar-expand-md fixed-top">
    <a href="../" class="navbar-brand">Velile & Josh's Wedding</a>
    <button type="button" class="navbar-toggler navbar-toggler-right"
            data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav" id="navScrollspy">

            <li class="nav-item">
                <a href="#top" class="nav-link"> To the Top</a>
            </li>

            <li class="nav-item">
                <a href="#venue" class="nav-link"> Venue</a>
            </li>

        </ul>

    </div>


</nav>

<section id="top" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">Velile and Josh here,</h1>
        <p class="display-4">Your Welcome To Join Us On Our Special Day</p>
        <p class="lead">Date : 22nd December 2017</p>
        <p class="lead">Location: Jubilee Central Church - Hull</p>
        <p><strong>Let us know if your coming by clicking the RSVP info link </strong></p>
        <p><strong>Click the Donations Link to give a gift of your choice towards our honeymoon or wedding gift</strong></p>
        <a routerLink="/donations" routerLinkActive="active" class="btn btn-lg btn-primary">Donations</a>
        <a routerLink="/rsvpInfo" routerLinkActive="active" class="btn btn-lg btn-primary">RSVP Info</a>
    </div>
</section>
<router-outlet></router-outlet>


<div class="container">
    <section id="description">
        <h2 class="display-4"><strong>On The Day</strong></h2>
        <p>The ceremony will be held at</p>
        <p>62 King Edward Street</p>
        <p>Hull, HU1 3SQ</p>
    </section>

    <section id="venue">
        <h2 class="display-4">Venue Location - Google Maps</h2>
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
    </section>
</div>





