<nav class="navbar bg-primary navbar-dark navbar-expand-md fixed-top">
    <a href="../" class="navbar-brand">Velile & Josh's Wedding</a>
    <button type="button" class="navbar-toggler navbar-toggler-right"
            data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav" id="navScrollspy">

            <li class="nav-item">
                <a href="#top" class="nav-link"> To the Top</a>
            </li>

            <li class="nav-item">
                <a href="#venue" class="nav-link"> Venue</a>
            </li>

            <li class="nav-item">
                <a href="#on-the-day" class="nav-link">On The Day</a>
            </li>

            <li class="nav-item">
                <a href="#gallery" class="nav-link"> Gallery</a>
            </li>
        </ul>

    </div>


</nav>

<section id="top" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-1"> Wedding</h1>
        <p class="display-4"> Join Us On Our Special Day</p>
        <p class="lead"> wgegwgegegegegegeghsgdhf shjsfhjfjfh fhjsfh</p>
        <p class="lead"> hejhejh erhjehjfd wjdksjskd</p>
        <p><strong>Explore Our Site:</strong></p>
        <a routerLink="/donations" routerLinkActive="active" class="btn btn-lg btn-primary">Donations</a>
        <a routerLink="/rsvpInfo" routerLinkActive="active" class="btn btn-lg btn-primary">RSVP Info</a>
    </div>
</section>

<div class="container">
    <section id="description">
        <h2 class="display-4"> Who who what what where</h2>
        <p>whwehwejw whejwehwjeh hwejhwjehwje whejwhej</p>
        <p>whgwh djhjska GFHFGDHFG dhjfhsf</p>
    </section>

    <section id="gallery">
        <h2 class="display-4"> A Trip Down Memory lane</h2>
        <p>Flick through the photo's below</p>

        <demo-carousel-config></demo-carousel-config>

    </section>

    <section id="venue">
        <h2 class="display-4">The wedding will be held at....</h2>
        <p>grhgehhfje ergheghrje hweghwgjw hewghwer </p>
    </section>
</div>


    <router-outlet></router-outlet>




